<h1>--Session Timeout Expired--</h1>
<h2>Please Try again to Login.</h2>
<h2> <%= error %> </h2>
<pre><%= error.stack %></pre>
<pre><%= data %></pre>

<script>setTimeout(() => {window.location.href = "/login"}, 2350); </script>