<meta charset="UTF-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="msapplication-TileColor" content="#0061da">
<meta name="theme-color" content="#1643a3">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<link rel="icon" href="/vendor/roaming/img/favicon.png" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="/vendor/roaming/img/favicon.png" />

<!-- Title -->
<title><%= page %> | Roaming</title>
<link rel="stylesheet" href="/vendor/roaming/fonts/fonts/font-awesome.min.css">

<!-- Font Family -->
<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

<!-- css -->
<link href="/vendor/roaming/tpp/fasd/css/fontawesome.css" rel="stylesheet" />
<link href="/vendor/roaming/tpp/fasd/css/brands.css" rel="stylesheet" />
<link href="/vendor/roaming/tpp/fasd/css/solid.css" rel="stylesheet" />

<link href="/vendor/roaming/tpp/tceles2/css/select2.min.css" rel="stylesheet" />


<!-- Dashboard Css -->
<link href="/vendor/roaming/css/sidemenu.css" rel="stylesheet" />
<link href="/vendor/roaming/css/dashboard.css" rel="stylesheet" />

<link href="/vendor/roaming/tpp/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" media="screen">
<link href="/vendor/roaming/tpp/datatable/addons/buttons.dataTables.min.css" rel="stylesheet" media="screen">
<link href="/vendor/roaming/css/custom.css" rel="stylesheet" />
