
<h1>List Page Examples</h1>
<h3>layout testing</h3>
<ul>
    <li><a href="/defaultlayout">default-layout</a></li>
    <li><a href="/custom1layout">custom1-layout</a></li>
    <li><a href="/nolayout">no-layout</a></li>
    <li><a href="/custom2layout">custom2-ejs_help-layout</a></li>
</ul>

<h3>dev testing</h3>
<ul>
    <li><a href="/testPage">incompleteSlash</a></li>
    <li><a href="/testPage/1">pageInject_urlManip</a></li>
    <li><a href="/testPage/2">pageInject_ejsVariable</a></li>
    <li><a href="/db-test">database ajaxpost</a></li>
</ul>

<h3>example test</h3>
<p> pixelcave data >> C:\Users\Hsn_Ldns\Downloads\installer\code\javascript plugin\UI Design Kit by pixelcave</p>
<ul>
    <p> -- ROAMING -- </p>
    <li><a href="/roaming-test">old - roaming dashboard lookalike</a></li>
    <li><a href="/roaming-login">old - roaming login</a></li>
    <p> -- PIXELCAVE -- </p>
    <li><a href="/pixelcave/s23corpdashboard">23 - Corporate Dashboard by pixelcave</a></li>
    <li><a href="/pixelcave/s28saaslanding">28 - SaaS Landing by pixelcave</a></li>
    <li><a href="/pixelcave/s29navstyle">29 - Navigation Styles by pixelcave</a></li>
    <li><a href="/pixelcave/s33cleandashboard">33 - Clean Dashboard by pixelcave</a></li>
    <p> -- TAILWIND + PIXELCAVE -- </p>
    <li><a href="/pixelcave/ta35authpages">35a - Auth Pages_index by pixelcave</a></li>
    <li><a href="/pixelcave/tb35authpages">35b - Auth Pages_create by pixelcave</a></li>
    <li><a href="/pixelcave/tc35authpages">35c - Auth Pages_forgot by pixelcave</a></li>
    <li><a href="/pixelcave/tzz36checkout">36 - Checkout Page by pixelcave</a></li>
    <li><a href="/pixelcave/tzz39pricing">39 - Pricing Tables by pixelcave</a></li>
    <li><a href="/pixelcave/tzz41saaslanding">41 - Landing SaaS by pixelcave</a></li>
    <li><a href="/pixelcave/tzz43darkdashboard">43 - Dark App Dashboard by pixelcave</a></li>
</ul>


