

<%- contentFor('body')%> <!-- <<u might dont need to use this in body but just in case|| worked -->
<h1>roaming test</h1>
<p>
    refer to this project place </br>
    \zland_leftOut\leftOver_njs_workProject\roaming
</p>


<%- contentFor('script')%>
<!-- script content -->
<script>
    console.log("test success")
</script>