<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Freebie 29 - Navigation Styles by pixelcave</title>

        <meta name="description" content="Freebie 29 - Navigation Styles. Check out more at https://pixelcave.com">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <link rel="shortcut icon" href="/vendor/pixelcave/assets29/media/favicons/favicon.png">
        <link rel="apple-touch-icon" href="/vendor/pixelcave/assets29/media/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" href="/vendor/pixelcave/assets29/media/favicons/favicon-192x192.png">

        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/vendor/pixelcave/assets29/css/main.min.css">
    </head>
    <body>
        <!-- Page Content -->
        <div class="container pt-5">
            <h1 class="text-center font-weight-bold mt-5">
                Navigation Styles
            </h1>
            <h2 class="h5 text-center text-muted mb-5">
                Let's explore various design approaches
            </h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg-lg bg-white">
                        <!-- Navigation Variation #1 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #1
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation1">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #1 -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg bg-white">
                        <!-- Navigation Variation #2 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #2
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation2">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #2 -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg bg-white">
                        <!-- Navigation Variation #3 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #3
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation3">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #3 -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg bg-white">
                        <!-- Navigation Variation #4 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #4
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation4">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #4 -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg bg-white">
                        <!-- Navigation Variation #5 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #5
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation5">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #5 -->
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="p-3 p-md-4 mb-4 rounded-lg bg-white">
                        <!-- Navigation Variation #6 -->
                        <h3 class="h5 font-weight-bold mb-3 text-center">
                            Variation #6
                        </h3>
                        <hr>
                        <ul class="nav-main nav-main-variation6">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="javascript:void(0)">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END Navigation Variation #6 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Page Content -->

        <!-- Footer -->
        <footer class="container text-center py-5">
            <p class="mb-0">
                Crafted with <i class="fa fa-heart text-danger"></i> by <a class="text-primary" href="https://pixelcave.com/">pixelcave</a>
            </p>
        </footer>
        <!-- END Footer -->

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
