<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Freebie 33 - Clean Dashboard by pixelcave</title>

        <meta name="description" content="Freebie 33 - Clean Dashboard. Check out more at https://pixelcave.com">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <link rel="shortcut icon" href="/vendor/pixelcave/assets33/media/favicons/favicon.png">
        <link rel="apple-touch-icon" href="/vendor/pixelcave/assets33/media/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" href="/vendor/pixelcave/assets33/media/favicons/favicon-192x192.png">

        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,400i,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/vendor/pixelcave/assets33/css/main.min.css">
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container" class="sidebar-o">
            <!-- Sidebar -->
            <nav id="sidebar" class="d-flex">
                <div class="content d-flex flex-column pb-0">
                    <!-- Sidebar Header -->
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="logo" href="index.html">make</a>
                        <div class="d-flex align-items-center">
                            <a class="text-muted" href="javascript:void(0)">
                                <i class="fa fa-bell"></i>
                            </a>
                            <button type="button" class="btn btn-link d-lg-none ml-3" data-toggle="class-toggle" data-target="#page-container" data-class="sidebar-o-xs">
                                <i class="fa fa-bars text-dark"></i>
                            </button>
                        </div>
                    </div>
                    <!-- END Sidebar Header -->

                    <!-- Navigation -->
                    <div class="py-5 flex-grow-1">
                        <ul class="nav-main w-100">
                            <li class="nav-main-item">
                                <a class="nav-main-link active" href="index.html">
                                    <i class="fa fa-home nav-main-icon"></i>
                                    <span class="nav-main-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-briefcase nav-main-icon"></i>
                                    <span class="nav-main-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-user-tie nav-main-icon"></i>
                                    <span class="nav-main-text">Customers</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-file-invoice nav-main-icon"></i>
                                    <span class="nav-main-text">Invoices</span>
                                </a>
                            </li>
                            <li class="nav-main-item">
                                <a class="nav-main-link" href="javascript:void(0)">
                                    <i class="fa fa-wrench nav-main-icon"></i>
                                    <span class="nav-main-text">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Navigation -->

                    <!-- Sidebar Footer -->
                    <div class="pb-4">
                        <div class="d-flex align-items-center bg-lighter rounded p-3 mb-1">
                            <img class="w-25 rounded-circle" src="/vendor/pixelcave/assets33/media/various/avatar.jpg" alt="Avatar">
                            <div class="ml-2">
                                <a href="javascript:void(0)">John Doe</a>
                                <p class="font-size-sm text-muted mb-0">
                                    Web Developer
                                </p>
                            </div>
                        </div>
                        <ul class="nav-main">
                            <li class="nav-main-item">
                                <a class="nav-main-link nav-main-link-danger" href="javascript:void(0)">
                                    <i class="fa fa-sign-out-alt nav-main-icon"></i>
                                    <span class="nav-main-text">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Sidebar Footer -->
                </div>
            </nav>
            <!-- END Sidebar -->
            
            <!-- Page Content -->
            <main id="page-content">
                <div class="content">
                    <!-- Page Header -->
                    <div class="pt-4 mb-3 pt-lg-5 mb-lg-5 d-flex justify-content-between">
                        <h1 class="h2">
                            Dashboard
                        </h1>
                        <button type="button" class="btn btn-link d-lg-none" data-toggle="class-toggle" data-target="#page-container" data-class="sidebar-o-xs">
                            <i class="fa fa-bars text-dark"></i>
                        </button>
                    </div>
                    <!-- END Page Header -->

                    <!-- Quick Stats -->
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <a class="block" href="javascript:void(0)">
                                <div class="block-content d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="circle">
                                            <i class="fa fa-fw fa-rocket text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <div class="h5 mb-1">
                                            75
                                        </div>
                                        <div class="text-muted">
                                            Sales
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a class="block" href="javascript:void(0)">
                                <div class="block-content d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="circle">
                                            <i class="fa fa-fw fa-chart-pie text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <div class="h5 mb-1">
                                            $1250
                                        </div>
                                        <div class="text-muted">
                                            Earnings
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a class="block" href="javascript:void(0)">
                                <div class="block-content d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="circle">
                                            <i class="fa fa-fw fa-briefcase text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <div class="h5 mb-1">
                                            15
                                        </div>
                                        <div class="text-muted">
                                            Projects
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <a class="block" href="javascript:void(0)">
                                <div class="block-content d-flex align-items-center justify-content-between">
                                    <div>
                                        <div class="circle">
                                            <i class="fa fa-fw fa-user-friends text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <div class="h5 mb-1">
                                            35
                                        </div>
                                        <div class="text-muted">
                                            Customers
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- END Quick Stats -->

                    <!-- Sales Chart -->
                    <div class="block">
                        <div class="block-content py-4">
                            <!-- Initialized with Chart.js at the bottom of the page -->
                            <canvas class="js-chartjs-sales" height="450"></canvas>
                        </div>
                    </div>
                    <!-- END Sales Chart -->

                    <!-- Earnings -->
                    <div class="row">
                        <div class="col-lg-4">
                            <a class="block text-center" href="javascript:void(0)">
                                <div class="block-content">
                                    <div class="circle mx-auto my-3">
                                        <i class="fa fa-dollar-sign text-muted"></i>
                                    </div>
                                    <div class="mb-1 font-weight-bold text-success font-size-sm">
                                        <i class="fa fa-arrow-up mr-1"></i> 0.5%
                                    </div>
                                    <div class="h3 font-weight-bold mb-1">$75</div>
                                    <div class="text-muted mb-3">Today</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a class="block text-center" href="javascript:void(0)">
                                <div class="block-content">
                                    <div class="circle mx-auto my-3">
                                        <i class="fa fa-money-bill-wave"></i>
                                    </div>
                                    <div class="mb-1 font-weight-bold text-danger font-size-sm">
                                        <i class="fa fa-arrow-down mr-1"></i> 0.2%
                                    </div>
                                    <div class="h3 font-weight-bold mb-1">$500</div>
                                    <div class="text-muted mb-3">Last Week</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a class="block text-center" href="javascript:void(0)">
                                <div class="block-content">
                                    <div class="circle mx-auto my-3">
                                        <i class="fa fa-wallet text-muted"></i>
                                    </div>
                                    <div class="mb-1 font-weight-bold text-success font-size-sm">
                                        <i class="fa fa-arrow-up mr-1"></i> 5.5%
                                    </div>
                                    <div class="h3 font-weight-bold mb-1">$2.500</div>
                                    <div class="text-muted mb-3">Last Month</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- END Earnings -->
                </div>
            </main>
            <!-- END Page Content -->

            <!-- Footer -->
            <footer id="page-footer" class="font-size-sm text-muted">
                <div class="content text-center text-sm-left d-sm-flex justify-content-sm-between">
                    <p class="py-1 mb-0">
                        Clean Dashboard &copy; <script>document.write((new Date()).getFullYear());</script>
                    </p>
                    <p class="py-1 mb-0">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://pixelcave.com/">pixelcave</a>
                    </p>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

        <!-- Custom JS -->
        <script>
            jQuery(function () {
                // Toggle class functionality
                jQuery('[data-toggle="class-toggle"]').on('click.pixelcave.helpers', function(e) {
                    var el = jQuery(e.currentTarget);

                    jQuery(el.data('target').toString()).toggleClass(el.data('class').toString());
                });

                // Chart.js Example
                // Set Global Chart.js configuration
                Chart.defaults.global.defaultFontColor              = 'rgba(0,0,0,.75)';
                Chart.defaults.scale.gridLines.color                = '#F7FAFC';
                Chart.defaults.scale.gridLines.zeroLineColor        = 'transparent';
                Chart.defaults.global.elements.line.borderWidth     = 1;
                Chart.defaults.global.elements.point.radius         = 4;
                Chart.defaults.global.elements.point.hoverRadius    = 6;
                Chart.defaults.global.tooltips.cornerRadius         = 6;
                Chart.defaults.global.legend.display                = false;

                // Get Chart Container
                var chartSales = jQuery('.js-chartjs-sales');

                // Init Chart
                var chart = new Chart(chartSales, {
                    type: 'line',
                    data: {
                        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                        datasets: [
                            {
                                label: 'Sales',
                                fill: true,
                                backgroundColor: 'rgba(124, 175, 232,.25)',
                                borderColor: 'rgba(124, 175, 232, 1)',
                                pointBackgroundColor: 'rgba(124, 175, 232, 1)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgba(124, 175, 232, 1)',
                                data: [69, 52, 65, 42, 80, 53, 89]
                            }
                        ]
                    },
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMin: 0,
                                    suggestedMax: 100
                                }
                            }]
                        },
                        tooltips: {
                            intersect: false,
                            callbacks: {
                                label: function(tooltipItems, data) {
                                    return ' ' + tooltipItems.yLabel + ' Sales';
                                }
                            }
                        }
                    }
                });
            });
        </script>
    </body>
</html>
