<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Freebie 39 - Landing Course (Tailwind) by pixelcave</title>

    <meta name="description" content="Freebie 39 - Landing Course (Tailwind). Check out more at https://pixelcave.com">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Icons -->
    <link rel="shortcut icon" href="/vendor/pixelcave/assets39/media/favicons/favicon.png">
    <link rel="apple-touch-icon" href="/vendor/pixelcave/assets39/media/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" href="/vendor/pixelcave/assets39/media/favicons/favicon-192x192.png">

    <!-- TailwindCSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
      html {
        font-family: 'Inter';
      }
    </style>
</head>
<body>
    <!-- Page Container -->
    <div class="min-h-screen bg-gray-200 text-gray-800">
      <!-- Hero -->
      <div class="bg-purple-800">
        <div class="container p-4 lg:p-8 mx-auto">
          <div class="text-center py-4">
            <a class="text-white opacity-75 hover:opacity-100" href="">
              <svg viewBox="0 0 20 20" fill="currentColor" class="cube-transparent inline-block w-12 h-12"><path fill-rule="evenodd" d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z" clip-rule="evenodd"></path></svg>
            </a>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8">
            <div class="flex items-center py-12">
              <div class="text-center sm:text-left">
                <h1 class="leading-tight text-3xl md:text-4xl font-bold text-white mb-4">
                  Learn modern JavaScript with our premium video course
                </h1>
                <h2 class="leading-relaxed text-lg md:text-xl text-purple-300 mb-10">
                  Get familiar with JavaScript development and build next generation web applications using the latest and hottest frameworks.
                </h2>
                <div class="sm:flex sm:items-center">
                  <a class="inline-flex items-center space-x-2 px-5 py-4 ml-2 sm:ml-0 mr-2 mb-2 text-white font-semibold rounded text-purple-700 bg-purple-100 hover:bg-purple-200 shadow-sm" href="#pricing">
                    <svg viewBox="0 0 20 20" fill="currentColor" class="lock-open w-6 h-6 opacity-50"><path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"></path></svg>
                    <span>Get Access</span>
                  </a>
                  <a class="inline-flex items-center space-x-1 px-5 py-4 mb-2 text-white font-semibold rounded text-purple-100 bg-purple-600 hover:bg-purple-500 shadow-sm" href="#features">
                    <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6 opacity-50"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span>Learn More</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="flex flex-col items-center py-12">
              <img src="/vendor/pixelcave/assets39/media/various/hero-illustration.svg" alt="Hero image showing a laptop illustration">
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <!-- Features -->
      <div class="bg-white">
        <svg class="text-purple-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" fill="currentColor"><path d="M0,100L1440,32L1440,0L0,0Z"></path></svg>
        <div id="features" class="container p-4 lg:p-8 mx-auto">
          <div class="text-center mt-4 lg:mt-8">
            <div class="text-sm text-purple-600 uppercase font-semibold tracking-wider">
              You can’t go wrong
            </div>
            <h2 class="text-3xl md:text-4xl font-bold mb-1">
              Amazing features
            </h2>
            <h3 class="text-lg md:text-xl text-gray-700 lg:w-1/2 lg:mx-auto mb-16">
              Start learning today all the vitals from the best instructors. It’s like cheating the system.
            </h3>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 mb-10 text-center md:text-left">
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="video-camera relative w-12 h-12"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                25 Learning Videos
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="book-open relative w-12 h-12"><path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                1 eBook (320 pages)
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="template relative w-12 h-12"><path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                3 Working Web Apps
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="code relative w-12 h-12"><path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                10 Code Repositories
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="mail-open relative w-12 h-12"><path fill-rule="evenodd" d="M2.94 6.412A2 2 0 002 8.108V16a2 2 0 002 2h12a2 2 0 002-2V8.108a2 2 0 00-.94-1.696l-6-3.75a2 2 0 00-2.12 0l-6 3.75zm2.615 2.423a1 1 0 10-1.11 1.664l5 3.333a1 1 0 001.11 0l5-3.333a1 1 0 00-1.11-1.664L10 11.798 5.555 8.835z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                24/7 Email Support
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="flex items-center justify-center w-20 h-20 rounded-lg bg-purple-200 text-purple-600 mb-5 relative mx-auto md:mx-0">
                <div class="w-20 h-20 rounded-lg bg-purple-200 bg-opacity-50 absolute z-0 transform ml-3 mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="receipt-refund relative w-12 h-12"><path fill-rule="evenodd" d="M5 2a2 2 0 00-2 2v14l3.5-2 3.5 2 3.5-2 3.5 2V4a2 2 0 00-2-2H5zm4.707 3.707a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L8.414 9H10a3 3 0 013 3v1a1 1 0 102 0v-1a5 5 0 00-5-5H8.414l1.293-1.293z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-1">
                Money Back Guarantee
              </h3>
              <p class="text-lg text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END Features -->

      <!-- Pricing -->
      <div id="pricing" class="container p-4 lg:p-8 mx-auto">
        <div class="text-center mt-4 lg:mt-8">
          <div class="text-sm text-purple-600 uppercase font-semibold tracking-wider">
            Get it today
          </div>
          <h2 class="text-3xl md:text-4xl font-bold mb-1">
            Choose the best pack for you
          </h2>
          <h3 class="text-lg md:text-xl text-gray-700 lg:w-1/2 lg:mx-auto mb-10">
            Start learning today and become an amazing web developer. A complete video series and goodies are waiting for you.
          </h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8 lg:px-40 xl:px-64 mb-10">
          <!-- Simple Pack -->
          <div class="rounded-lg shadow-sm bg-white flex flex-col border-4 border-white">
            <div class="p-5 lg:p-6 bg-gray-100 text-center flex-grow rounded-t-lg">
              <span class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-gray-200 text-gray-600 rounded-full mb-4">
                Simple Pack
              </span>
              <div>
                <span class="text-3xl lg:text-5xl font-extrabold">$45</span>
              </div>
              <p class="text-gray-600">
                I’m just getting started!
              </p>
            </div>
            <div class="p-5 lg:p-6 space-y-5 lg:space-y-6 text-gray-700 rounded-b-lg">
              <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>25</strong> Tutorial Videos</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>1</strong> eBook (320 pages)</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="x text-red-500 w-5 h-5 inline-block"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <del><strong>3</strong> Working Web Apps</del>
                </li>
                <li class="flex items-center space-x-2">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="x text-red-500 w-5 h-5 inline-block"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <del><strong>10</strong> Code Repositories</del>
                </li>
                <li class="flex items-center space-x-2">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="x text-red-500 w-5 h-5 inline-block"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <del><strong>24/7</strong> Email Support</del>
                </li>
              </ul>
              <a class="flex items-center justify-between text-center px-5 py-4 text-white font-semibold rounded text-gray-800 bg-gray-200 hover:bg-gray-300" href="javascript:void(0)">
                <span>Purchase</span>
                <svg viewBox="0 0 20 20" fill="currentColor" class="shopping-cart w-6 h-6 opacity-25"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
              </a>
            </div>
          </div>
          <!-- END Simple Pack -->
          
          <!-- Dev Pack -->
          <div class="rounded-lg shadow-sm bg-white flex flex-col border-4 border-purple-400">
            <div class="p-5 lg:p-6 bg-gray-100 text-center flex-grow rounded-t-lg">
              <span class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-purple-200 bg-opacity-50 text-purple-600 rounded-full mb-4">
                Dev Pack
              </span>
              <div>
                <span class="text-3xl lg:text-5xl font-extrabold">$75</span>
              </div>
              <p class="text-gray-600">
                I’m ready for the next level!
              </p>
            </div>
            <div class="p-5 lg:p-6 space-y-5 lg:space-y-6 text-gray-700 rounded-b-lg">
              <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>25</strong> Tutorial Videos</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>1</strong> eBook (320 pages)</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>3</strong> Working Web Apps</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>10</strong> Code Repositories</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>24/7</strong> Email Support</span>
                </li>
              </ul>
              <a class="flex items-center justify-between space-x-2 px-5 py-4 text-white font-semibold rounded text-purple-100 bg-purple-600 hover:bg-purple-500" href="javascript:void(0)">
                <span>Purchase</span>
                <svg viewBox="0 0 20 20" fill="currentColor" class="shopping-cart w-6 h-6 opacity-50"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
              </a>
            </div>
          </div>
          <!-- END Dev Pack -->
        </div>
      </div>
      <!-- END Pricing -->

      <!-- Footer -->
      <div class="bg-white">
        <div class="text-gray-600 text-center py-12 space-y-2 text-sm">
          <p class="font-semibold">
            Landing Course &copy; <script>document.write((new Date).getFullYear());</script>
          </p>
          <p class="inline-flex items-center space-x-1">
            <span>Crafted with</span>
            <svg class="w-5 h-5 text-red-500" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
            <span>by <a class="text-purple-600 hover:text-purple-700 font-semibold" href="https://pixelcave.com">pixelcave</a></span>
          </p>
        </div>
      </div>
      <!-- END Footer -->
    </div>
    <!-- END Page Container -->
</body>
</html>
