<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Freebie 41 - Landing SaaS (Tailwind) by pixelcave</title>

    <meta name="description" content="Freebie 41 - Landing SaaS (Tailwind). Check out more at https://pixelcave.com">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Icons -->
    <link rel="shortcut icon" href="/vendor/pixelcave/assets41/media/favicons/favicon.png">
    <link rel="apple-touch-icon" href="/vendor/pixelcave/assets41/media/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" href="/vendor/pixelcave/assets41/media/favicons/favicon-192x192.png">

    <!-- TailwindCSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
      html {
        font-family: 'Inter';
      }
    </style>
</head>
<body>
    <!-- Page Container -->
    <div class="min-h-screen bg-gray-200 text-gray-800">
      <!-- Hero -->
      <div class="bg-gray-900">
        <div class="container p-4 lg:p-8 mx-auto">
          <div class="text-center py-4">
            <a class="text-white bg-blue-700 opacity-75 hover:opacity-100 inline-flex items-center justify-center p-3 rounded-3xl" href="">
              <svg class="hi-solid hi-home inline-block w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/></svg>
            </a>
          </div>
          <div class="py-10 lg:px-48 text-center">
            <h1 class="leading-tight text-3xl md:text-4xl font-bold text-white mb-2">
              Work from home easier than ever
            </h1>
            <h2 class="leading-relaxed text-lg md:text-xl text-white opacity-75 mb-10">
              Stop messing around and let our toolkit help you work more efficient and productive. Manage every aspect of your every day work painless.
            </h2>
            <div class="inline-flex items-center space-x-2">
              <a class="inline-flex items-center space-x-2 px-5 py-3 mb-2 text-white font-semibold rounded text-blue-100 bg-blue-600 hover:bg-blue-500 shadow-sm" href="#pricing">
                <svg class="hi-solid hi-check-circle inline-block w-5 h-5 opacity-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>
                <span>Subscribe from $19</span>
              </a>
              <a class="inline-flex items-center space-x-2 px-5 py-3 sm:ml-0 mr-2 mb-2 text-white font-semibold rounded text-blue-800 bg-white hover:bg-blue-100 shadow-sm" href="#features">
                <svg class="hi-solid hi-arrow-circle-right inline-block w-5 h-5 opacity-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>
                <span>Learn More</span>
              </a>
            </div>
          </div>
          <div class="-mb-12 lg:-mb-64 z-10 relative lg:px-48">
            <img class="rounded-xl" src="/vendor/pixelcave/assets41/media/various/unplash-EhTcC9sYXsw.jpg" alt="Hero image">
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <!-- Features -->
      <div class="bg-white">
        <svg class="text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150" fill="currentColor"><path d="M0,50L1440,150L1440,0L0,0Z"></path></svg>
        <div id="features" class="container p-4 lg:p-12 mx-auto">
          <div class="text-center mt-20">
            <h2 class="text-3xl md:text-4xl font-bold mb-1">
              Tools that work for you
            </h2>
            <h3 class="text-lg md:text-xl text-gray-800 lg:w-1/2 lg:mx-auto mb-16">
              Manage every project from a compact dashboard. Generate invoices, manage code and communicate with customers.
            </h3>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mb-16 text-center">
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-red-200 text-red-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-red-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="template relative w-8 h-8"><path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                One Dashboard
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-green-200 text-green-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-green-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg class="hi-solid hi-clipboard-list relative w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"/><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"/></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Automated Tasks
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-orange-200 text-orange-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-orange-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg class="hi-solid hi-document-text relative w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"/></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Invoice System
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-teal-200 text-teal-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-teal-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg class="hi-solid hi-shield-exclamation relative w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z" clip-rule="evenodd"/></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Smart Alerts
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-purple-200 text-purple-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-purple-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="code relative w-8 h-8"><path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Code Snippets
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-indigo-200 text-indigo-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-indigo-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg class="hi-solid hi-server relative w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"/></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Code Repositories
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-gray-200 text-gray-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-gray-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg class="hi-solid hi-mail relative w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Email Accounts
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-pink-200 text-pink-600 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-pink-200 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="mail-open relative w-8 h-8"><path fill-rule="evenodd" d="M2.94 6.412A2 2 0 002 8.108V16a2 2 0 002 2h12a2 2 0 002-2V8.108a2 2 0 00-.94-1.696l-6-3.75a2 2 0 00-2.12 0l-6 3.75zm2.615 2.423a1 1 0 10-1.11 1.664l5 3.333a1 1 0 001.11 0l5-3.333a1 1 0 00-1.11-1.664L10 11.798 5.555 8.835z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                24/7 Email Support
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
            <div>
              <div class="inline-flex items-center justify-center w-16 h-16 rounded-3xl bg-yellow-300 text-yellow-700 mb-8 relative mx-auto md:mx-0">
                <div class="w-16 h-16 rounded-3xl bg-yellow-300 bg-opacity-50 absolute z-0 transform mt-3"></div>
                <svg viewBox="0 0 20 20" fill="currentColor" class="receipt-refund relative w-8 h-8"><path fill-rule="evenodd" d="M5 2a2 2 0 00-2 2v14l3.5-2 3.5 2 3.5-2 3.5 2V4a2 2 0 00-2-2H5zm4.707 3.707a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L8.414 9H10a3 3 0 013 3v1a1 1 0 102 0v-1a5 5 0 00-5-5H8.414l1.293-1.293z" clip-rule="evenodd"></path></svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Money Back Guarantee
              </h3>
              <p class="text-gray-600 text-left">
                Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END Features -->

      <!-- Pricing -->
      <div id="pricing" class="container p-4 lg:p-12 mx-auto">
        <div class="text-center mt-4 lg:mt-8">
          <h2 class="text-3xl md:text-4xl font-bold mb-1">
            Flexible Pricing
          </h2>
          <h3 class="text-lg md:text-xl text-gray-800 lg:w-1/2 lg:mx-auto mb-10">
            Start your subscription today and never go back. Inspiring results for every project.
          </h3>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 lg:gap-8 lg:px-20 mb-10">
          <!-- Starter -->
          <div class="rounded-lg shadow-sm bg-white flex flex-col border-4 border-white">
            <div class="p-5 lg:p-6 bg-gray-100 text-center flex-grow rounded-t-lg">
              <span class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-gray-200 text-gray-600 rounded-full mb-4">
                Starter
              </span>
              <div>
                <span class="text-3xl lg:text-5xl font-extrabold">$19</span>/m
              </div>
              <p class="text-gray-600">
                I’m just getting started!
              </p>
            </div>
            <div class="p-5 lg:p-6 space-y-5 lg:space-y-6 text-gray-700 rounded-b-lg">
              <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>15</strong> Projects</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>5</strong> Clients</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>20</strong> Code Repositories</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>1</strong> Email Account</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="x text-red-500 w-5 h-5 inline-block"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <del><strong>24/7</strong> Email Support</del>
                </li>
              </ul>
              <a class="flex items-center justify-between text-center px-5 py-4 text-white font-semibold rounded text-white bg-blue-500 hover:bg-blue-400" href="javascript:void(0)">
                <span>Get Started</span>
                <svg class="hi-solid hi-arrow-circle-right w-6 h-6 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>
              </a>
            </div>
          </div>
          <!-- END Starter -->
          
          <!-- Developer -->
          <div class="rounded-lg shadow-sm bg-white flex flex-col border-4 border-blue-500">
            <div class="p-5 lg:p-6 bg-gray-100 text-center flex-grow rounded-t-lg">
              <span class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-blue-300 bg-opacity-50 text-blue-800 rounded-full mb-4">
                Developer
              </span>
              <div>
                <span class="text-3xl lg:text-5xl font-extrabold">$49</span>/m
              </div>
              <p class="text-gray-600">
                I’m ready for the next level!
              </p>
            </div>
            <div class="p-5 lg:p-6 space-y-5 lg:space-y-6 text-gray-700 rounded-b-lg">
              <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>100</strong> Projects</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>20</strong> Clients</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>50</strong> Code Repositories</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>5</strong> Email Accounts</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>24/7</strong> Email Support</span>
                </li>
              </ul>
              <a class="flex items-center justify-between space-x-2 px-5 py-4 text-white font-semibold rounded text-blue-100 bg-blue-700 hover:bg-blue-600" href="javascript:void(0)">
                <span>Get Started</span>
                <svg class="hi-solid hi-arrow-circle-right w-6 h-6 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>
              </a>
            </div>
          </div>
          <!-- END Developer -->

          <!-- Unlimited -->
          <div class="rounded-lg shadow-sm bg-white flex flex-col border-4 border-white">
            <div class="p-5 lg:p-6 bg-gray-100 text-center flex-grow rounded-t-lg">
              <span class="inline-block text-sm uppercase tracking-wider font-semibold px-3 py-1 bg-gray-200 text-gray-600 rounded-full mb-4">
                Unlimited
              </span>
              <div>
                <span class="text-3xl lg:text-5xl font-extrabold">$99</span>/m
              </div>
              <p class="text-gray-600">
                Aiming to infinity!
              </p>
            </div>
            <div class="p-5 lg:p-6 space-y-5 lg:space-y-6 text-gray-700 rounded-b-lg">
              <ul class="space-y-4 text-sm lg:text-base">
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>Unlimited</strong> Projects</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>Unlimited</strong> Clients</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>Unlimited</strong> Code Repositories</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>Unlimited</strong> Email Accounts</span>
                </li>
                <li class="flex items-center space-x-2">
                  <svg class="text-green-500 w-5 h-5 inline-block" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M5 13l4 4L19 7"></path></svg>
                  <span><strong>24/7</strong> Email Support</span>
                </li>
              </ul>
              <a class="flex items-center justify-between text-center px-5 py-4 text-white font-semibold rounded text-white bg-blue-500 hover:bg-blue-400" href="javascript:void(0)">
                <span>Get Started</span>
                <svg class="hi-solid hi-arrow-circle-right w-6 h-6 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>
              </a>
            </div>
          </div>
          <!-- END Unlimited -->
        </div>
      </div>
      <!-- END Pricing -->

      <!-- Footer -->
      <div class="bg-white">
        <div class="text-gray-600 text-center py-12 space-y-2 text-sm">
          <p class="font-semibold">
            Landing SaaS &copy; <script>document.write((new Date).getFullYear());</script>
          </p>
          <p class="inline-flex items-center space-x-1">
            <span>Crafted with</span>
            <svg class="w-5 h-5 text-red-500" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
            <span>by <a class="text-blue-600 hover:text-blue-700 font-semibold" href="https://pixelcave.com">pixelcave</a></span>
          </p>
        </div>
      </div>
      <!-- END Footer -->
    </div>
    <!-- END Page Container -->
</body>
</html>
